<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    {% set css %}
      {% include "css/design-system.css" %}
    {% endset %}
    <style>
      {{ css | safe }}
    </style>
  </head>
  <body>
    <div class="cp-center-column">
      {{ content | safe }}
    </div>
  </body>
</html>