<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#FBD703">
    <meta name="msapplication-TileColor" content="#FBD703">
    <meta name="theme-color" content="#ffffff">
    <title>{{ title }} · TNR · 529 Legion</title>
    {% set css %}
      {% include "css/design-system.css" %}
    {% endset %}
    <style>
      {{ css | safe }}
    </style>
  </head>
  <body>
    <div class="cp-center-column">
      <div class="cp-center-column__padded">
      {% include "partials/header.njk" %}
      <main>
        {{ content | safe }}
      </main>
      {% include "partials/footer.njk" %}
      </div>
    </div>
  </body>
</html>