---
title: Food
layout: layouts/base.njk
tags: tool
---
{% include "icons/climacons.njk" %}
{% include "partials/header.njk" %}
<ul>
{% for trailSystem in query.trailSystems %}
  <li class="cp-trail-system">
    <h2>{{ trailSystem.name }}</h2>
    {% if trailSystem.restaurants.length > 0 %}
      {% for restaurant in trailSystem.restaurants %}
        <span>{{ restaurant.name }}</span>
      {% endfor %}
    {% endif %}
    <a href="https://www.yelp.com/search?cflt=restaurants&dt=1&find_loc={{ trailSystem.parkingLots[0].entranceCoordinates.lat }},{{ trailSystem.parkingLots[0].entranceCoordinates.lng }}" target="_blank">Yelp nearby</a>
  </li>
{% endfor %}
</ul>
