---
title: Parking
layout: layouts/base.njk
tags: tool
---
{% include "icons/climacons.njk" %}
{% include "partials/header.njk" %}
<ul>
{% for trailSystem in query.trailSystems %}
  <li class="cp-trail-system">
    <h2>{{ trailSystem.name }}</h2>
    {% for parkingLot in trailSystem.parkingLots %}
      <span>{{ parkingLot.name }} {% if parkingLot.parkingPermits %}({{ parkingLot.parkingPermits[0].name }} required){% endif %}</span>
      <a href="https://www.google.com/maps/search/?api=1&query={{ parkingLot.entranceCoordinates.lat }},{{ parkingLot.entranceCoordinates.lng }}" target="_blank">location</a>
    {% endfor %}
  </li>
{% endfor %}
</ul>
