---
title: Weather
layout: layouts/base.njk
tags: tool
date: 2019-02-22
permalink: weather.html
---
{% include "icons/climacons.njk" %}

<ul>
{% for trailSystem in query.trailSystems %}
  <li class="cp-trail-system">
    <h2>{{ trailSystem.name }}</h2>
    {% include "partials/trailSystemWeatherDetails.njk" %}
  </li>
{% endfor %}
</ul>
