<footer class="cp-footer">
  <small>
    Last updated {{ query.buildTimestamp }} · Weather data <a href="https://darksky.net/poweredby/">powered by Dark Sky</a> · Trail info by <a href="http://ride529.squarespace.com/" target="_blank">529 Legion</a>
  </small>
</footer>